<div id="back-to-link">
	<%= link_to "Back to Dashboard", "/" %>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="main-user">

			<div id="user-header">
				<h1>Today's Quizzes</h1>
			</div>
			<hr>

			<% if session[:is_instructor] %>

				<h3>This page is for students only</h3>

			<% else %>

				<ul>
					<% @user.cohorts.each do |cohort| %>
						<% cohort.quizzes.each do |quiz| %>
							<% if (quiz.date_assigned == Date.today) %>
								<li><a href="/cohorts/<%= cohort.id %>/quizzes/<%= quiz.id %>"><%= quiz.title %></a></li>
							<% end %>
						<% end %>
					<% end %>
				</ul>

			<% end %>

		</div>
	</div>
</div>