<h1>Cohorts Index View</h1>

<%= link_to "Back to Dashboard", "/users/#{session[:user_id]}" %>

<ul>
	<% @cohorts.each do |cohort| %>
		<li><a href="/cohorts/<%= cohort.id %>"><%= cohort.course.name %> <%= cohort.name %></a></li>
	<% end %>
</ul>

