<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<div id="toplogo">
		<a href="/"><img src="assets/logo.png">
	</div>
	 <div id="topname">
	 	<h1>QUIZZULHU</h2></a>
	 </div>
</div>

<%= yield %>

</body>
</html>
