/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "choices.scss";
@import "classes.scss";
@import "courses.scss";
@import "dashboard.scss";
@import "login.scss";
@import "quizzes.scss";
@import "responses.scss";
@import "users.scss";


body {
	color: #006400;
	background-color: #71EEB8;
}

.header {
	height: 200px;
	background-color: white;
}

#toplogo {
	position: absolute;
	left: 20px;
	top: 20px;
}

#toplogo img {
	width: 150px;
}

#topname {
	position: absolute;
	left: 200px;
	top: 40px;
}


#topname h1 {
	white-space: nowrap;
	color: #2a7b03;
	font-size: 70px;
	font-weight: bold;
}

#topname a:hover {
	text-decoration: none;
}

#footer {
	position: absolute;
	right: 50px;
	padding-top: 20px;
}
