<div class="row">
	<div class="col-sm-3">
		<div id="top-box-nav">
		<%# top left box to select class and quiz #%> 

		
		<h4>You are logged in as: <br> <span id="logged-in"><%= session[:user_name] %></span>
			<% if session[:is_instructor] %><br> [INSTRUCTOR] <% end %></h4>
		</div>
	</div>
	<div class="col-sm-8">
		<div id="nav-bar">
		<%# navigation bar with buttons #%> 
		<ul>
			<li><a href="/dashboards"><button id="dash-button">DASH</button></a></li>
			<li><a href="/users/<%= session[:user_id] %>"><button id="profile-button">PROFILE</button></a></li>
			<% if session[:is_instructor] %>
				<li><a href="/quizzes"><button id="classes-button">QUIZZES</button></a></li>
			<% end %>
			<% if session[:is_instructor] %>
				<li><a href="/quizzes/new"><button id="create-quiz-button">CREATE QUIZ</button></a></li>
			<% else %>
				<li><a href="/quiz"><button id="take-quiz-button">TAKE QUIZ</button></a></li>
			<% end %>
		</ul>
	</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-3">
		<div id="info-sidebar">
			<p>	Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Mnahn' stell'bsna f'r'luh lloig, hai ngkadishtu y-ilyaa zhro 'bthnk 'fhalma athg n'gha kadishtu, sgn'wahl hrii ph'lw'nafh fm'latgh gnaiih stell'bsna ron ehye. Gnaiih ebunma nnnron ron phlegeth namnahn' Shub-Niggurath ch' r'luh geb, gof'nn f'Yoggoth nnnR'lyeh shogg Nyarlathotep s'uhnagl gotha mnahn' phlegeth, nglui hafh'drn naR'lyeh fhtagn gotha lloig Cthulhu R'lyeh. Syha'h R'lyeh y-ftaghu ilyaa gotha Azathoth gof'nn 'bthnk ron, ph'R'lyeh fm'latgh kn'a ilyaa orr'e nnnhrii R'lyeh nashagg, k'yarnak orr'e shugg f'ah h'fhtagn hupadgh nglui. Ya nilgh'ri navulgtm grah'n fhtagn ulnoth, ep hrii throd tharanak hlirgh r'luh, vulgtm nashtunggli uh'e hrii.</p>
		</div>
	</div>



	<div class="col-sm-8">
		<div id="dash-main">
			<h1>Welcome to the <% if session[:is_instructor] %>instructor<% else %>student<% end %> dashboard.</h1>
			
			<div id="display-profile">
				<%= render 'showuser' %>
			</div>



			


		</div>
	</div>
</div>



