/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "assessments.scss";
@import "choices.scss";
@import "dashboard.scss";
@import "login.scss";
@import "quizzes.scss";
@import "report.scss";
@import "profiles-and-cohorts.scss";

h1 {
	color: #795548;
}

select {
	border: 2px solid #689F38;
	background-color: #DCEDC8;
}

body {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #689F38;
	background-color: #DCEDC8;

	background-image: url("http://i.imgur.com/MIep62L.png");
   background-position: right bottom; 
   background-repeat: no-repeat;
}

.header {
	height: 200px;
	background-color: white;
}

#toplogo {
	position: absolute;
	left: 20px;
	top: 20px;
}

#toplogo img {
	width: 150px;
}

#topname {
	position: absolute;
	left: 200px;
	top: 40px;
}


#topname h1 {
	white-space: nowrap;
	color: #795548;
	font-size: 70px;
	font-weight: bold;
}

#topname a:hover {
	text-decoration: none;
}

#user-info-layout {
		text-align: center;
		float: right;
		margin-right: 10px;

	a {
		color: white;

		padding: 5px;
		background-color: #9CCC65;
		border-radius: 15px;
	}

	a:hover {

		text-decoration: none;
    background-color: #795548;
    box-shadow:5px 5px 5px #16872b;
	}

}

#footer {
	height: 100px;
	width: 350px;
	padding-top: 20px;
}
