#reports-inner-box {
	
	padding: 50px;

	button {

		color: white;
		font-size: 1.3em;
		background-color: #9CCC65;
		opacity: 1;
		padding: 10px;
		border: 0px;
		border-radius: 50px;

		a {
			color: white;
		}

	}

	button:hover {
		background-color: #795548;
    box-shadow:5px 5px 5px #16872b;

    a:hover {
    	text-decoration: none;
    }
	}

}

hr {
    border: 0;
    height: 1px;
    background: #63C;
    background-image: -webkit-linear-gradient(left, #CF9, #630, #CF9);
    background-image: -moz-linear-gradient(left, #CF9, #630, #CF9);
    background-image: -ms-linear-gradient(left, #CF9, #630, #CF9);
    background-image: -o-linear-gradient(left, #CF9, #630, #CF9);
}
