#reports-inner-box {
	
	padding: 50px;

}

hr {
    border: 0;
    height: 1px;
    background: #63C;
    background-image: -webkit-linear-gradient(left, #CF9, #630, #CF9);
    background-image: -moz-linear-gradient(left, #CF9, #630, #CF9);
    background-image: -ms-linear-gradient(left, #CF9, #630, #CF9);
    background-image: -o-linear-gradient(left, #CF9, #630, #CF9);
}
