<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="Chart.js"></script>

</head>
<body>

<div class="header">
	<div id="toplogo">
		<a href="/"><img src="http://i.imgur.com/HD4qXlk.png">
	</div>
	 <div id="topname">
	 	<h1>QUIZZULHU</h2></a>
	 </div>
</div>

<%= yield %>

<div id="footer">
	copyright @ Titans of Flavourr 2015. all rights reserved
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
